.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
html {
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 10pt;
  background-color: #ffffff;
  color: #333333;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
body {
  margin: 0;
  padding: 3px 0 10px;
}
hr {
  margin: 0.5em 2em;
}
a {
  color: #3b5998;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
    overflow: hidden;
  }
  100% {
    opacity: 1;
    overflow: auto;
  }
}
.line {
  *zoom: 1;
  margin: 5px 0;
  padding: 3px 8px;
  -webkit-animation: fadein 0.2s ease-in-out;
}
.line:before,
.line:after {
  display: table;
  content: "";
  line-height: 0;
}
.line:after {
  clear: both;
}
.line:hover {
  border-left: 5px solid #cccccc;
  padding-left: 3px;
}
.line.action,
.line.event,
.line.mode {
  margin: 0;
  background-color: #f7f7f7;
  border-left: 5px solid #cccccc;
  padding-left: 3px;
}
.line[type=action] .sender:before {
  content: "• ";
  white-space: nowrap;
}
.line[highlight=true] {
  background-color: #fff9d7;
  border-left: 5px solid #e2c822;
  padding-left: 3px;
}
.line[first=false] {
  margin: 0 0;
  padding: 0 8px;
}
.url {
  word-break: break-all;
}
.address {
  text-decoration: underline;
  word-break: break-all;
}
.highlight {
  color: #dd3c10;
  font-weight: bold;
}
.time {
  display: block;
  float: right;
  color: #999;
  font-size: 85%;
}
.place {
  color: #008;
}
.avatar {
  display: none;
}
.sender {
  display: block;
  margin: 0 50px 5px 40px;
  color: #3b5998 !important;
  font-weight: bold;
}
.sender[first=false] {
  display: none;
}
.message {
  display: block;
  margin: 0 50px 0 40px;
}
.message[type=system] {
  color: #080;
}
.message[type=error] {
  color: #f00;
  font-weight: bold;
}
.message[type=reply] {
  color: #088;
}
.message[type=error_reply] {
  color: #f00;
}
.message[type=dcc_send_send] {
  color: #088;
}
.message[type=dcc_send_receive] {
  color: #00c;
}
.message[type=notice] {
  color: #888;
}
.message[type=action] {
  color: #080;
}
.message[type=join] {
  color: #080;
}
.message[type=part] {
  color: #080;
}
.message[type=kick] {
  color: #080;
}
.message[type=quit] {
  color: #080;
}
.message[type=kill] {
  color: #080;
}
.message[type=nick] {
  color: #080;
}
.message[type=mode] {
  color: #080;
}
.message[type=topic] {
  color: #080;
}
.message[type=invite] {
  color: #080;
}
.message[type=wallops] {
  color: #080;
}
.message[type=debug_send] {
  color: #aaa;
}
.message[type=debug_receive] {
  color: #444;
}
.midtown-avatar {
  float: left;
}
.midtown-avatar img {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 30px;
}
.midtown-avatar[first=false] {
  display: none;
}
body.console {
  padding: 0;
  background-color: #31353e;
  color: #ffffff;
}
body.console .line {
  margin: 0;
  font-size: 85%;
  overflow: hidden;
}
body.console .line.action,
body.console .line.event,
body.console .line.mode {
  background-color: #1a1d22;
}
body.console .line[highlight=true] {
  background-color: #484d5a;
}
body.console .line .time {
  display: inline;
  float: none;
  color: #cccccc !important;
  font-size: inherit;
  margin-left: 2px;
  margin-right: 2px;
}
body.console .line .place {
  color: #b3b3b3 !important;
}
body.console .line .sender {
  display: inline;
  margin: inherit;
  margin-left: 2px;
  margin-right: 8px;
  color: #cccccc !important;
  font-weight: bold;
}
body.console .line .message {
  display: inline;
  margin: inherit;
}
body.console .line .midtown-avatar {
  display: none;
}